* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  background-color: #F5F5F5;
  height: 100%;
  min-height: 40.625rem;
  color: #292929;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    padding: 0 12%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 19.75rem;
    height: 20.625rem;
    background: url("../img/beats.png") center center/contain no-repeat;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 45px;
  background: url("../img/beats.png") right 6% center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.3125rem;
  margin-bottom: 3.125rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 24%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 5%;
  }
}

.hero__icons-section {
  margin: 6.25rem 0 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.1875rem;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 1.6875rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 1.125rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
}

.phone-number__icon-elem {
  width: 0.75rem;
  height: 0.75rem;
}

.menu__link {
  text-decoration: none;
  color: #292929;
  font-size: 1.125rem;
}
.menu__link:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2.875rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.25rem;
}

.feature__icon {
  width: 2.8125rem;
  margin-right: 0.6875rem;
}

.feature__text {
  font-size: 1.125rem;
  max-width: 6.25rem;
  color: #292929;
}

.btn {
  font-size: 1.1875rem;
  font-weight: bold;
  padding: 1.125rem 2.1875rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
}
.btn--theme--red {
  background: #E01F3D;
  color: #FFFFFF;
}
.btn--theme--red:hover {
  background: #FFFFFF;
  color: #E01F3D;
}
.btn--theme--transparent {
  background: transparent;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
}

.section {
  height: 100%;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color-white {
  color: white;
}
.section--font-color-white .section__title {
  color: inherit;
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.map__section {
  position: relative;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1.1875rem;
}

.headline__subtitle {
  padding: 0 20%;
  color: #666666;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 2%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1875rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
.benefits__item:before {
  content: url("../img/Combined.png");
  position: absolute;
  top: 3.3125rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.6875rem;
  height: 4.3125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
}

.benefit__desc {
  color: #666666;
}

.benefit__image {
  margin-bottom: 1.1875rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.25rem;
  }
}

.benefits-section {
  position: relative;
  background: url("/img/Vector.png") left 13% top 102% no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}

.reviews-section {
  position: relative;
}
.reviews-section::before {
  position: absolute;
  content: url(/img/Ellipse.png);
  bottom: -1.5rem;
  left: 24%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .reviews-section::before {
    left: 10%;
  }
}

@media screen and (max-width: 480px) {
  .reviews__container {
    padding: 5% 0% 10%;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 3.125rem 2.8125rem 2.125rem;
  margin-bottom: 0.9375rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.125rem 1.25rem 2.125rem;
  }
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: -4.0625rem;
}
@media screen and (max-width: 480px) {
  .reviews__display::before {
    display: none;
  }
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.reviews__item {
  display: none;
}
.reviews__item--active {
  display: block;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.reviews__avatar {
  width: 15.875rem;
  height: 16.25rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.25rem;
    height: 8.25rem;
  }
}

.reviews__avatar-pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.25rem;
  padding-top: 0.625rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    padding-top: 1.875rem;
    margin-left: 0rem;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.6875rem;
}

.reviews__text {
  color: #666666;
  margin-bottom: 2.375rem;
}

.reviews__author {
  font-size: 1.125rem;
  font-weight: 700;
}

.reviews-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-swithcer__item {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 0.1875rem;
}
.reviews-swithcer__item:last-child {
  margin-right: 0rem;
}
.reviews-swithcer__item:hover {
  border-color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .reviews-swithcer__item {
    width: 4.375rem;
    height: 4.375rem;
  }
}
.reviews-swithcer__item--active {
  border-color: red;
}

.reviews-switcher__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.reviews-swithcer__pic {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2.5rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1.125rem 0.6875rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
  margin-bottom: 0.625rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
.form__input:focus {
  border-color: #CA1B36;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1875rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-section {
  background: #181818;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.625rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/check.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 0.625rem;
}
.radio__visible:before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 1rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #E01F3D;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 24px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.ymap {
  width: 100%;
  height: 100%;
}

.footer {
  font-size: 1.125rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

.contacts {
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__item {
  margin-right: 0.625rem;
}
.social__item:last-child {
  margin-right: 0;
}

.social__item--icon--vk .social__link {
  background: url("../img/vk.png");
}

.social__item--icon--fb .social__link {
  background: url("../img/fb.png");
}

.social__item--icon--insta .social__link {
  background: url("../img/in.png");
}

.social__item--icon--tg .social__link {
  background: url("../img/tv.png");
}

.social__link {
  display: block;
  text-decoration: none;
  width: 1.875rem;
  height: 1.875rem;
}

.shop-section {
  background-color: #f5f5f5;
  position: relative;
}

.shop__container {
  padding: 1.25rem 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .shop__container {
    padding: 1.25rem 0rem;
  }
}

.shop-section__img {
  margin-right: 3.75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .shop-section__img {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .shop-section__img {
    margin-right: 0;
  }
}

.shop-section__img .shop-section__pic {
  width: 28.25rem;
  height: 28.25rem;
}
@media screen and (max-width: 768px) {
  .shop-section__img .shop-section__pic {
    height: 19.125rem;
    width: 19.125rem;
    margin-bottom: 3.125rem;
  }
}

.shop-section__text {
  max-width: 26.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .shop-section__text {
    margin-left: 0;
  }
}

.shop-section-settings {
  position: relative;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .shop-section-settings {
    display: none;
  }
}

.shop-section__char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 768px) {
  .shop-section__char {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.shop-section__char-subtitle {
  font-weight: bold;
}

.shop-section__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-section__desc {
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .shop-section__desc {
    text-align: center;
  }
}

.shop-section__desc-title {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .shop-section__desc-title {
    font-size: 1.75rem;
  }
}

.shop-section__desc-subtitle {
  color: #666666;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .shop-section__desc-subtitle {
    margin-right: 0;
    padding: 0;
  }
}

.shop-section__char-elem1 {
  margin-right: 5.625rem;
}
@media screen and (max-width: 768px) {
  .shop-section__char-elem1 {
    padding-left: 7.5rem;
  }
}

.shop-section__char-elem2 {
  margin-left: 5.375rem;
}
@media screen and (max-width: 768px) {
  .shop-section__char-elem2 {
    padding-right: 6.25rem;
    margin-left: 0;
  }
}

.shop-section__price-elem {
  margin-right: 0.9375rem;
  font-size: 2.25rem;
}
@media screen and (max-width: 768px) {
  .shop-section__price-elem {
    padding-left: 3.125rem;
    margin-right: 2.1875rem;
  }
}

.arrow {
  position: absolute;
  top: 45%;
}
@media screen and (max-width: 768px) {
  .arrow {
    top: 22%;
  }
}

.arrow__left {
  left: 0%;
}
@media screen and (max-width: 768px) {
  .arrow__left {
    left: 15%;
  }
}
@media screen and (max-width: 480px) {
  .arrow__left {
    left: 0%;
  }
}

.arrow__right {
  left: 98%;
}
@media screen and (max-width: 768px) {
  .arrow__right {
    left: 98%;
  }
}
@media screen and (max-width: 480px) {
  .arrow__right {
    left: 96%;
  }
}

.slider {
  width: 100%;
}
.slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media screen and (max-width: 768px) {
  .slider {
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .slider {
    padding-left: 0;
  }
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.dropdown__menu {
  position: absolute;
  width: 273px;
  height: 294px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  top: 0rem;
  right: 13%;
  border-radius: 5px;
  color: #000;
}

.dropdown__menu:hover {
  left: 5.6875rem;
  opacity: 1;
}

.dropdown__list {
  padding: 1.875rem 1.5625rem;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13.75rem;
  margin-bottom: 1.5rem;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__item-elem2 {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  margin-left: 0.9375rem;
}

.dropdown__menu-icon {
  height: 1.125rem;
  width: 1.375rem;
}

.fullscreen-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #313131;
  z-index: 1000;
  overflow: hidden;
  font-size: 2.25rem;
  color: #fff;
}
.fullscreen-menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen-menu__close {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.fullscreen-menu__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.fullscreen-menu__content {
  margin-top: 8.4375rem;
}

.fullscreen-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-menu__item {
  margin-bottom: 1.25rem;
}
.fullscreen-menu__item:last-child {
  margin-bottom: 0;
}

.fullscreen-menu__link, .fullscreen-menu__close {
  text-decoration: none;
}

.fullscreen-menu__link {
  color: #fff;
}
.fullscreen-menu__link:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team--version--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 28.375rem;
}

.mobile__container {
  display: none;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.75rem;
}

.team__item--active .team-section__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team__member {
  width: 13.75rem;
  margin-bottom: 1.5625rem;
}

.team-section__icon {
  margin-left: 0.3125rem;
  margin-top: 0.3125rem;
  width: 0.75rem;
  height: 0.75rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__content {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.team__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: 0rem;
  background-color: #fff;
}

.team__occ {
  margin-bottom: 0.25rem;
}

.team__content-text {
  color: #666;
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }

  .mobile__container {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .team__title {
    font-size: 1.375rem;
  }

  .team--version--mobile {
    position: absolute;
  }

  .team__item {
    width: 15.625rem;
    margin-bottom: 1.25rem;
  }

  .team__item--active .team__content {
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .block1 {
    height: 31.25rem;
  }
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.726);
  top: 0;
  left: 0;
  display: none;
}

.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal.open body.overflow-hidden {
  overflow: hidden;
}

.modal__content {
  background-color: #fff;
  width: 19.375rem;
  height: 11rem;
  padding: 2.1875rem 3.3125rem;
}

.modal__content, .modal__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__text {
  text-align: center;
  width: 15.9375rem;
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
}

.workflow {
  width: 100%;
  height: 100%;
  background-color: #F8FAF9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.container--workflow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .container--workflow {
    height: 62%;
  }
}

.player {
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .player {
    margin-top: 7%;
    width: 100%;
  }
}

.player__video {
  width: 100%;
}

.player__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: black;
  position: absolute;
  bottom: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 3.1875rem;
}
@media screen and (max-width: 768px) {
  .player__controls {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (max-width: 480px) {
  .player__controls {
    height: 2.1875rem;
  }
}

.player__button {
  background: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: none;
  outline: none;
}
@media screen and (max-width: 480px) {
  .player__button {
    width: 2.1875rem;
    height: 2.1875rem;
  }
}

.play-pic, .volume-pic {
  width: 11px;
  height: 15px;
}

.progress {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 74%;
      flex-basis: 74%;
  height: 5px;
  border-radius: 1px;
  background: #333333;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .progress {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}
@media screen and (max-width: 480px) {
  .progress {
    -ms-flex-preferred-size: 83%;
        flex-basis: 83%;
  }
}

.progress__filled {
  z-index: 150;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(37%);
          transform: translateY(37%);
  bottom: 0;
  background: red;
}

.player__volume {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .player__volume {
    display: none;
  }
}

.player__slider {
  color: red;
  height: inherit;
}

.products-menu-section {
  background: url(../img/menu.png) center center/cover no-repeat;
  position: relative;
  color: #fff;
}

.products-menu-section__title {
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__title {
  width: 100px;
  position: relative;
}

.products-menu__text {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.products-menu__content {
  background: rgba(47, 50, 52, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.products-menu__container {
  padding: 40px 73px 45px 26px;
}

.products-menu__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

.maincontent {
  height: 100%;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}