.arrow {
    position: absolute;
    top: 45%;

    @include tablets {
        top: 22%;
    }
}

.arrow__left {
    left: 0%;

    @include tablets {
        left: 15%;
    }

    @include phones {
        left: 0%;
    }
}

.arrow__right {
    left: 98%;

    @include tablets {
        left: 98%;
    }

    @include phones {
        left: 96%;
    }
}