.btn {
    font-size: rem(19px);
    font-weight: bold;
    padding: rem(18px) rem(35px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;

    &--theme--red {
        background: #E01F3D;
        color: #FFFFFF;

        &:hover {
            background: #FFFFFF;
            color: #E01F3D;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #FFFFFF;
        font-weight: 400;
        text-transform: none;

        &:hover {
            color: #E01F3D;
        }
    }
}