.footer {
    font-size: rem(18px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20px);

    @include phones {
        flex-direction: column;
    }
}

.map {
    @include phones {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
    }

    @include tablets {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
    }
}