.products-menu-section {
    //background: url(../img/menu.png) center center/cover no-repeat;
    background-color: #999;
    position: relative;
    color: #fff;
}

.products-menu-section__title {
    position: relative;
    top: -130%;
    text-align: left;
    font-weight: bold;
    font-size: 48px;
    color: #fff;
}

.products-menu {
    position: absolute;
    right: -208px;
    top: -245px;
    bottom: 0;
    display: flex;
}

.products-menu__item {
    //position: absolute;
    //width: 102px;
    height: 650px;
    left: 794px;
    top: 0px;
    display: flex;
}

.products-menu__title1 {
    background-color: #808080;
    text-decoration: none;
    width: rem(100px);
    position: relative;
}

.products-menu__title2 {
    background-color: #151515;
    text-decoration: none;
    width: rem(100px);
    position: relative;
}

.products-menu__title3 {
    background-color: #E01F3C;
    text-decoration: none;
    width: rem(100px);
    position: relative;
}

.products-menu__text {
    padding: rem(30px);
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    writing-mode: vertical-rl;
}

.products-menu__content {
    background: rgba(47, 50, 52, 0.9);
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width .7s;
}

.products-menu__container {
    padding: 40px 73px 45px 26px;
}

.products-menu__close {
    position: absolute;
    top: 20px;
    right: 25px;
    border: none;
    background: transparent;
}