.products-menu-section {
    background: url(../img/menu.png) center center/cover no-repeat;
    position: relative;
    color: #fff;
}

.products-menu-section__title {
    font-weight: bold;
    font-size: 48px;
    color: #fff;
}

.products-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.products-menu__item {
    display: flex;
}

.products-menu__title {
    width: 100px;
    position: relative;
}

.products-menu__text {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    writing-mode: vertical-rl;
}

.products-menu__content {
    background: rgba(47, 50, 52, 0.9);
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width .7s;
}

.products-menu__container {
    padding: 40px 73px 45px 26px;
}

.products-menu__close {
    position: absolute;
    top: 20px;
    right: 25px;
    border: none;
    background: transparent;
}