.slider {
    width: 100%;

    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }

    @include tablets {
        padding-left: 0;
    }
    
    @include phones {
        padding-left: 0;
    }
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider__list {
    display: flex;
    position: relative;

    @include tablets {
        flex-direction: column;
    }
}

.slider__item {
    display: flex;
    justify-content: center;
    align-items: center;


    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}